<div id="subheader">
	<div id="title">
		<span id="title">
			The Soho Scheduler's Mission
		</span>
    </div>
	<div id="subtitle">
	<p>Help define and refine.</p>
	</div>
</div>
<br />


<div id="stylized" class="myform">
<div id="bodyPanel">
	<div>
		<h1>Welcome to Soho Scheduler!</h1>
		<p class="noimage">
			The <span>S.O.H.O. Scheduler</span> literally means "Small Office - Home Office Scheduling Application".  
			It is a small business accounting application for individuals in the service scheduling industry.  For instance if you run a small
			business that requires the booking of appointments and the scheduling of service personnel this maybe the application for you.
		</p>
		<h1>Who are you? Oo Oo</h1>
		<p class="noimage">
			What Industry Types Would This Be Used For?  The application has been developed in a fairly generic way allowing it to be utilised in a number of different industries.  
			The original intention was for use in a small pre-booking taxi company, however it could be used in a number of industries.
		</p>
		<h1>Cost?</h1>
        <p>
           How much does it cost?  At present this service is free and we aim to always have a free
          flavour of the product.  As we introduce more functionality our ultimate aim is to offer a subscription based service which
          will add-on value added products for your scheduling needs.
		</p>

        <h1>How do I sign up?</h1>
        <p>
            Soho Scheduler is built upon Google's amazing App Engine framework.  To sgnup click on the buttons in the left hand menu.
		</p>

        <h1>Get Involved !</h1>
		<p>
			Get Involved - Community Development:
			Soho Scheduler's primary objective which is to deliver a useful tool to the community.  For this reason we are not paying our helpers directly
			but are offering a share of future ad revenue.  If you want to get involved and are accepted your ad share will be calculated on the initial effort
			put into the project.  Want to earn more then get involved more! Lets make this a success!
			<br /><br />
			Get involved by <a href="http://spreadsheets.google.com/viewform?key=ppVqLnTNKVfyP1uxiTRegWQ">clicking here</a>.
		</p>

		<h1>Business Services</h1>
		<p>
				This appllication can be installed on your own domain at a low cost.  
				We can even customize it to your specific needs.  Contact us at 
				<a href="mailto:enterprise@sohoapspot.com">enterprise@sohoapspot.com</a>
		</p>

		<h1>Any Ideas?</h1>
		<p>
				We always like to here feedback for our product and by getting in in the early stages, any features you might 
				want incorporated can be done now, and problably for free.  In addition if you do happen to find a bug - we want to hear about it.
				By providing this information we can make a product that is not only functional but robust.
			<br /><br />
			Get involved by <a href="http://spreadsheets.google.com/viewform?key=ppVqLnTNKVfyP1uxiTRegWQ">clicking here</a>.
		</p> 
	</div>
</div>
</div>
