{%extends "base.html" %}

{% block title %}
  Soho Scheduler - Scheduling Accounting For Small Office Home Office!
{% endblock title %}

{% block maincontent %}
<div id="errorpage">
    <h1>Oops an error ocurred.</h1>
    <p>
        Our technical team has been alerted to this error.  We take the stability of our application very seriously and will immediately investigate the cause of this problem.
        <br /><br />
        If you would like to add more information please use the contact us section at the bottom of this page.
    </p>
</div>
{% endblock maincontent %}

