<html>
    <head>
    </head>
    <body>
        <!-- <script type="text/javascript" src="{{link_href}}"></script> -->
        <!-- <IFRAME width="1000px" height="600px" scrolling="none" frameborder="0" type="text/javascript" src="{{link_href}}"></IFRAME> -->
        <IFRAME width="1000px" height="600px" scrolling="none" frameborder="0" type="text/javascript" src="{%url sohoformbuilder.views.runtime entity.key.id,sohoformbuilderid%}?submission_key={{submission_key}}&submission_id={{submission_id}}"></IFRAME>
    </body>
</html>
