<p>
	Share Your Design is a way of sharing your creations with the community of Small Businesses.  
	Designs created will earn credits and discounts against the future paid version of the application.
</p>
<h2>What information do we share?</h2>
<p>
	We share purely the design of your application.  You give it a generic but useful name to help other
	community members; such as "Hairdressing Company".  Then the forms you have designed for the application will
	be copied to our shared templates area, which after an approval process, will be shared with the community. 
</p>
<h2>Is my cusomter and company information safe?</h2>
<p>
	The short answer is Yes!  We absolutely do not share your customer or sales information.
    <ul class="toolbar">
		<li>
			<a id="lnkEntityShareWizard" class="sharemydesignbutton" href="javascript: selectAjaxURLPart('{%url designer.views.shareMyDesignWizard entity_id,0,1%}','divTabContent');">Launch The Share My Design Wizard.</a>
		</li>
		</ul>
</p>

