<!DOCTYPE html>
<html>
<head>
    <meta name="google-site-verification" content="9JV-ibYkvlfISWs1L60frSRnqGxfx7VxDgKFP29II_M" />
    <title>{% block title %}{% endblock title %}</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="author" content="Think Jones Ltd" />
    <meta name="keywords" content="Scheduling,Accounting,Resource,Appointment,SOHO,Soho,Scheduler,SoHo,Office,Scheduling,Software,Online,Free,Accounting,SCheduling,soho,SOHO,soho,scheduler,SoHo,office,scheduling,software,online,free,accounting,scheduling,soho,SOHO,Account,account,CRM,crm,smallbusiness,busines,accounts,Accounts" />
	<meta name="verify-v1" content="NdCynqYUfKGzWT8+z33B87YvkQN5vLFB0Lnt/y8U7uw=" />
	<meta name="verify-v1" content="MjaG2IoTg5xH6zurtvaUSXggyxx8+F4yAYJnUp/YcMo=" />


	  <link rel="stylesheet" type="text/css" href="/static2/css/landing.css" />
	  <link rel="stylesheet" href="/static2/jquery/jquery.twit/jquery.twit.0.1.1.css" type="text/css" media="all">

	<script type="text/javascript" src="/static2/jquery/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="/static2/jquery/jquery.twit/jquery.twit.0.1.1.min.js"></script>
	<script type="text/javascript" src="/static2/yui/cufon-yui.js"></script>
	<script type="text/javascript" src="/static2/yui/soho.font.js"></script>

	<script type="text/javascript">
	Cufon.replace('#header .tab', {hover: true});
	Cufon.replace('h2');
	</script>

		<script type="text/javascript">
			$(document).ready(function() {
				$('#sohotweets').twit('SohoScheduler', {
				  limit: 5,
				  label: 'Twitter',
				  title: 'Soho Scheduler News'
				});
			});
		</script>


	{% block headjs %}
	{% endblock headjs %}

</head>
<body>

<div id="header">
		<h1>
			<a href="/">
				Soho Scheduler - Affordable Small Business Scheduling
				<img alt="Soho Scheduler" src="static2/img/site/logo.png"/>
			</a>
		</h1>
	<div class="tab">
		<ul>
			<li><a href="http://www.sohoappspot.com" class="active">Home</a></li>
			<!--<li><a href="http://www.sohoappspot.com/plans.jsp">Pricing</a></li>-->
			<li><a href="{{sign_in}}">Sign In</a></li>
			<li><a href="{{sign_in}}">Try For Free</a></li>

		</ul>
	</div>

</div>

<div id="banner">
	<div class="wrapper">
		<div class="wrap">

			<div id="feature1" style="display:block;">
				<h2>Online <br />Scheduling</h2>
				<h3>Small Business Focused.<br />Intuitive. Affordable. Adaptable.</h3>
			</div>

			<div id="feature2" style="display:none;">
				<h2>Tailor your<br />application</h2>
				<h3>Design for your <br />
				business needs.</h3>
			</div>

			<div id="feature3" style="display:none;">
				<h2>Appointment<br />Calendar</h2>
				<h3>Drag and drop.<br />Multiple views.</h3>
			</div>

			<div id="feature4" style="display:none;">
				<h2>Address<br />Book</h2>
				<h3>Intuitive Interface for <br />
				managing clients.<br />
				Google Contact Sync.</h3>

			</div>

			<div class="sign-up">
				<a href="{{sign_in}}">free 15-day trial</a>
			</div>

			<div class="controls">
				<a id="control1" href="#" class="selected" onclick="return setfeature(1);">1</a>
				<a id="control2" href="#" onclick="return setfeature(2);">2</a>

				<a id="control3" href="#" onclick="return setfeature(3);">3</a>
				<a id="control4" href="#" onclick="return setfeature(4);">4</a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
var feature = 1;
var interval = 10000;
var fade = 0.3;

function changeopacity(opacity, f) {
    var object = document.getElementById('feature' + f).style;
    object.opacity = (opacity / 100);
    object.MozOpacity = (opacity / 100);
    object.KhtmlOpacity = (opacity / 100);
    object.filter = "alpha(opacity=" + opacity + ")";
}

function setfeaturevisible(f) {
	document.getElementById('feature' + f).style.display='block';
	document.getElementById('control' + f).className = 'selected';
}

function setfeatureinvisible(f) {
	document.getElementById('feature' + f).style.display='none';
	document.getElementById('control' + f).className = '';
}

function nextfeature2() {
	for(var i = 100; i >= 0; i=i-2) {
		setTimeout('changeopacity(' + i + ',' + feature + ')', (fade * 10 * (100 - i)));
	}
	setTimeout('setfeatureinvisible(' + feature + ')', (fade * 10 * 102));
	feature++;
	if(feature > 4) {
		feature = 1;
	}
	changeopacity(0, feature);
	setTimeout('setfeaturevisible(' + feature + ')', (fade * 10 * 104));
	for(var i = 0; i <= 100; i=i+2) {
		setTimeout('changeopacity(' + i + ',' + feature + ')', (fade * 10 * (105 + i)));
	}
}

function nextfeature() {
	setfeatureinvisible(feature);
	feature++;
	if(feature > 4) {
		feature = 1;
	}
	setfeaturevisible(feature);
}

function setfeature(f) {
	clearInterval(featureinterval);
	setfeatureinvisible(feature);
    feature = f;
    setfeaturevisible(f);
	featureinterval = setInterval(nextfeature, interval);
    return false;
}

var featureinterval = setInterval(nextfeature, interval);
</script>

<div id="content">
	<div class="wrap">
		<div class="top">
  	  		<div class="left">
  	  			<div id="sohotweets">

  	  			</div>
				<br /><br />

				<div>

       			</div>
			</div>

  	  		<div class="right">

				<h2>What is S.O.H.O. Scheduler?</h2>
				<p>
					Soho Scheduler is a scheduling appointment booking application that focusses on the needs of small businesses.  Developed using Google infrastructure allows us to develop
					cost-effective solutions that are adaptable and responsive to the needs of small businesses.
				</p>
				<p>
					<strong>Application Templates and Form Designer</strong>:  Every version of this application comes with the ability to select pre-defined appointment and customer information templates that
					allow you to customize the application to your needs.  If the templates don't quite fit your needs, then no worries, our application is fully customizable.  No more fitting your business model
					to the application.  The easy-to-use form designer allows you to customize the input forms for your needs.
				</p>
				<p>
					<strong>Google Integration</strong>: Starting with Google Contacts this application allows you to sync customer information.  If you are re-typing information into several systems we want to hear
					about it.  We can develop a simple solution that you and our other users can benefit from.
				</p>
				<p>
					<strong>Share Access</strong>:  Using this application is a doddle and sharing it with your staff members is just as easy.  Simply enter their email address and use rights and off you go.
				</p>


  	  		</div>

 		</div>


		<div class="bottom">
		</div>

	</div>
</div>

<div id="footer">
	<div class="wrapper">
	<div class="wrap">
		{% include "about/_footer.html" %}
	</div>
	</div>
</div>



</body>
</html>