<h3>Authentication With Google</h3>
<div class="stageholder" id="templates">
    <div id="lblStage0Error" class="messageerror">
    </div>
    <p>
        To import contacts we first need to authenticate with Google.
    </p>

    <p>
        By clicking login below the website will direct you to a Google Authentication page where you can choose the contacts to authenticate with.
    </p>

    <p>
        Once you have agreed to this Google will send you back to this wizard where you can
        download your contacts.
    </p>

    <p>
        <a href="{{google_auth_url|safe}}">Click to authenticate</a>
    </p>
</div>
<div id="picker_container"></div>
