<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Add New Entity Wizard</title>

    <!-- Soho Scheduler Helper Code-->
    <script type="text/javascript" src="/static/javascript/soho_navigation.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/sohocore.css" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

    <script type="text/javascript" src="/static/javascript/jquery/formValidator/js/jquery.validationEngine.js"></script>
    <link rel="stylesheet" href="/static/javascript/jquery/formValidator/css/validationEngine.jquery.css" type="text/css" media="screen" title="no title" charset="utf-8" />

    <!-- Json Library-->
    <script type="text/javascript" src="/static/javascript/jquery/jquery.json.js"></script>
</head>
<body>

<form class="useraccess" action="#" method="post">
<div class="wizard-nav">
    <ul class="popuptitle">
        <li><h2>Share With Others</h2></li>
    </ul>
</div>
    <div style="padding:20px;">
        {% include "dashboard/_UserAccess.html" %}
  </div>
</form>
</body>
</html>
